
<p class="notice" style="color: green;"><%= notice %></p>
<%= link_to "New blog", new_blog_path, class: "btn btn-primary" %>
<h1 class="blog-heading">Blogs</h1>

<div class="blog-container">
    <% @blogs.each do |blog| %>
      <div class="col-md-4">
        <div class="blog-card">
          <h5><strong>Title:</strong> <%= blog.title %></h5>
          <p><%= link_to "View blog", blog, class: "btn btn-primary" %></p>
        </div>
      </div>
    <% end %>
</div>



